#whole-page {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3.5fr 2fr;
}

#addbox-part {
  background-color: rgb(241, 241, 241);
}

#viewer-part {
  overflow-y: scroll;
}