#whole-page {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 4.5fr 2fr;
}

#addbox-part {
  background-color: rgb(241, 241, 241);
}

#viewer-part {
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  padding: 32px;
}