.single-note {
    width: 100%;
    height: 36px;
    line-height: 36px;
}

.single-note span {
    display: flex;
    font-size: 22px;
}

.unsustain-repeat-note {
    display: flex;
}

.unsustain-repeat-note span span {
    flex: 1;
    white-space: nowrap;
}